<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= video.title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    
</head>

<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">KORYO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto d-flex align-items-center">
                    <a href="/account" class="nav-link">
                        <i class="bi bi-person fs-3"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>



<body>
    <div class="container-fluid">
        <div class="content-wrapper">
            <!-- Player de Vídeo -->
            <div class="video-border">
                <div class="video-wrapper">
                    <iframe class="main-video" src="https://www.youtube.com/embed/<%= video.youtube_url.split('=')[1] %>" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <!-- Título e Botões -->
            <div class="text-center mb-3">
                <h4><%= video.title %></h4>
            </div>
            <div class="btn-container">
                <!-- Botão de Favoritar -->
                <form action="/favorite/<%= video.id %>" method="POST">
                    <button type="submit" class="btn btn-outline-primary">Favoritar</button>
                </form>
                <!-- Botão de Marcar como Assistido -->
                <form action="/mark-watched/<%= video.id %>" method="POST">
                    <button type="submit" class="btn btn-success">Marcar como assistido</button>
                </form>
            </div>

            <!-- Descrição do Vídeo -->
            <p class="text-center mt-4"><%= video.description %></p>

            <!-- Seção de Comentários -->

            <div class="container mt-4">
                <h5 class="mb-4 mt-5">fórum de duvidas</h5>
            </div>
            <div class="chat-container">
                <% comments.forEach(comment => { %>
                    <div class="chat-message <%= comment.username === username ? 'right' : '' %>">
                        <div class="chat-message-content">
                            <div class="chat-message-username">
                                <%= comment.username || 'Anônimo' %>
                            </div>
                            <p><%= comment.content %></p>
                            <small class="text-muted"><%= new Date(comment.date).toLocaleDateString() %></small>
                        </div>
                    </div>
                <% }) %>
            </div>

            <!-- Formulário para Adicionar Comentário -->
            <form action="/video/<%= video.youtube_url.split('=')[1] %>/comment" method="POST" class="mt-3">
                <div class="mb-3">
                    <textarea class="form-control" name="content" placeholder="Escreva um comentário..." required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-secondary">Comentar</button>
                </div>
            </form>
        </div>
    </div>

    <%- include('partials/footer') %>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
